button {
  padding: 6px 12px;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: white;
  font-size: var(--font-size-lg);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  outline: inherit;
  border: none;
}

button a {
  text-decoration: none;
  color: inherit;
}
